.footer {
    background-color: #ff8400;
    color: #fff;
    padding: 20px 0;
  }
  
  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footerLinks li {
    margin-right: 20px;
  }
  
  .footerLinks a {
    color: #fff;
    text-decoration: none;
  }
  
  .footerText {
    margin: 0;
  }
  